node_modules

# Output
.output
.vercel
.netlify
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
*.log

# Local SQLite database
/prisma/*.db
/prisma/*.db-journal

# Generated Prisma client
/src/lib/server/prisma
